

# Ignore Python virtual environment
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database files
src/database.py
database.py

# SQLite databases (optional)
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# Virtual environment
venv/
env/
.venv

Backend/config.py
.python-version